USE [master]
GO
/****** Object:  Database [QLYSACH]    Script Date: 12/17/2021 4:29:46 PM ******/
CREATE DATABASE [QLYSACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLYSACH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLYSACH.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLYSACH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLYSACH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLYSACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLYSACH]
GO
/****** Object:  Table [dbo].[HocVien]    Script Date: 12/17/2021 4:29:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVien](
	[MAHOCVIEN] [nchar](10) NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[TINH] [int] NULL,
	[GIOITINH] [bit] NULL,
 CONSTRAINT [PK_HocVien] PRIMARY KEY CLUSTERED 
(
	[MAHOCVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 12/17/2021 4:29:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[MATINH] [int] NOT NULL,
	[TENTINH] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tinh] PRIMARY KEY CLUSTERED 
(
	[MATINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[HocVien] ([MAHOCVIEN], [EMAIL], [HOTEN], [TINH], [GIOITINH]) VALUES (N'hv01      ', N'thudatdl123@gmail.com', N'Tran Thu Dat', 3, 1)
INSERT [dbo].[HocVien] ([MAHOCVIEN], [EMAIL], [HOTEN], [TINH], [GIOITINH]) VALUES (N'hv02      ', N'sonba7b1@gmail.com', N'Nguyen Son Ba', 1, 0)
INSERT [dbo].[Tinh] ([MATINH], [TENTINH]) VALUES (1, N'Ho Chi Minh')
INSERT [dbo].[Tinh] ([MATINH], [TENTINH]) VALUES (2, N'Ha Noi')
INSERT [dbo].[Tinh] ([MATINH], [TENTINH]) VALUES (3, N'Ha Tinh')
ALTER TABLE [dbo].[HocVien]  WITH CHECK ADD  CONSTRAINT [FK_HocVien_Tinh] FOREIGN KEY([TINH])
REFERENCES [dbo].[Tinh] ([MATINH])
GO
ALTER TABLE [dbo].[HocVien] CHECK CONSTRAINT [FK_HocVien_Tinh]
GO
USE [master]
GO
